#player_select {
  display: grid;
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

#player_select select {
  justify-self: center;
}

/* Button CSS */
.button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding: 12px 28px;
  font-size: 1.2em;
  background-color: white;
  color: black;
  border: 2px solid #4caf50; /* Green */
}

.button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}
