.App {
  text-align: center;
  margin: 10px auto;
  background: #fafafa;
  box-shadow: #d3d3d3 3px 3px;
  border-top: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
  padding: 0px 10px 40px 10px;
  width: 90%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

h2 {
  text-align: center;
  font-size: 18px;
}

#logo {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 360;
  letter-spacing: -3px;
  line-height: 1;
  position: relative;
}

.logo-top {
  text-shadow: -2px -1px 0 black, -2px 1px 0 #d3d3d3, 1px 2px 0 #d3d3d3;
  padding: 20px 0px 10px 0px;
}

.endpage {
  width: 320px;
}

/* end for the game*/
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
============================
    THIS IS TABLET!!!!!!
============================
*/

@media only screen and (min-width: 760px) {
  .App {
    width: 80%;
  }
  #logo {
    font-size: 80px;
  }
}

/*
============================
    THIS IS DESKTOP!!!!!!
============================
*/

@media only screen and (min-width: 901px) {
  .App {
    width: 50%;
  }
}
